<tool name="LogDog">  <version>2.2.0</version>  <date>2019-05-17</date>  <container>#._LogDog</container>  <files></files>  <needs>    <script>APLTreeUtils</script>    <script>DateAndTime</script>    <script>HandleError</script>    <script>FilesAndDirs</script>    <script>MarkAPL</script>    <script>OS</script>    <script>Tester</script>    <script>WinReg</script>    <script>WinSys</script>    <ws copy="Laguntza" library="APL-cation">Laguntza</ws>  </needs>  <scriptOnly>0</scriptOnly>  <wsid>Development</wsid>  <autoload>1</autoload>  <buildid>48</buildid></tool>